/* Estilos para el formulario */
.formContainer {
  background-color: #f5f5f5; /* Fondo claro */
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.formContainer h1 {
  font-size: 1.5rem;
  color: #333; /* Texto oscuro */
  text-align: center;
  margin-bottom: 20px;
}

.formContainer h2 {
  font-size: 1.2rem;
  color: #333; /* Texto oscuro */
  text-align: center;
  margin-bottom: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputGroup label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.inputGroup input:focus {
  outline: none;
  border-color: #ffcc00; /* Color de foco */
}

.submitButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;

}
.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed
}

.submitButton:hover {
  background-color: #ffcc00;
}

/* Responsive */
@media (max-width: 600px) {
  .formContainer {
    padding: 15px;
  }

  .formContainer h1 {
    font-size: 1.3rem;
  }

  .formContainer h2 {
    font-size: 1.1rem;
  }
}

.errorStyle {
  color: red !important;
}

